 .section{
    width: 1440px;
    border: 1px solid black;
    margin: 0 auto;
 }
.container{ 
    width: 1200px;
    /* border: 1px solid red; */
    margin: 0 auto;
}
.all{
  display: flex;
}
.kids-shop{
   margin: 0 auto;
}
.kids-shop h2{
   color: goldenrod;
   box-shadow: 0 4px 10px;
   font-size: 35px;
}
.basket img{ 
    width: 45px;
    height: 45px;
 }
.basket button{ 
    background: rgb(210, 119, 34);
    width: 100px;
    height: 35px;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    border: none;
 }
.basket select { 
    width: 80px;
    height: 25px;
 }
 .basket{
     display: flex;
     align-items: center;
     gap: 17px;
 }

 /* -------------------------------- */

 .lll{
    width: 1440px;
    border: 1px solid rgba(19, 18, 18, 0.744);
    margin-top: 60px;
 }

 .image{
    width: 1200px;
    height: 450px;
    margin-top: 70px;
    background-color: rgba(0, 225, 255, 0.644);
 }
 .rrr{
    position: relative;
    margin: 0 auto;
 }
 .rrr h1{
    position: absolute;
    left: 280px;
    bottom: 100px;
    font-size: 100px;
    color: gold;
 }